@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    
}

:root {
    --main-bg-color: #16242b;
    --cell-bg-color: #1E3640;
    --cell-outline-color: rgb(6, 99, 99);
    --scoreboard-color: rgb(209, 163, 88);
    --header-font-color: rgb(141, 196, 239);
    --restart-button-color: rgb(31, 207, 31);
}

body {
    background-color: var(--main-bg-color);
}

.container {
    display: grid;
    gap: 12vh;
}

.dim {
    opacity: 0.5;
}

.header {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 35px;
    margin: 50px 0;
    color: var(--header-font-color);
    font-weight: 500;
}

.player-turn,
.cells {
    background-color: var(--cell-bg-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

}

.logo {
    background: url(images/logo.svg) no-repeat center;
    width: 75px;
}

.x-icon,
.x-small-icon,
.x-prompt-icon {
    background: url(images/X.svg) no-repeat center var(--cell-bg-color);
}

.o-icon,
.o-small-icon,
.o-prompt-icon {
    background: url(images/O.svg) no-repeat center var(--cell-bg-color);
}

.x-small-icon,
.o-small-icon {
    background-size: 20%;
    background-position: left 15px top 15px;
}

.o-prompt-icon,
.x-prompt-icon {
    background-position: left 15px center;
    background-size: 10%;
}

.player-turn {
    padding: 7px 15px 7px 55px;
    font-size: 30px;
    border-radius: 7px;
}

.restart {
    background: url(images/icon-restart.svg) no-repeat center;
    background-color: var(--restart-button-color);
    border-radius: 8px;
    border: none;
    min-width: 45px;
    height: 45px;
    align-self: center;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 98px);
    grid-template-rows: repeat(3, 98px);
    justify-content: center;
    gap: 20px;
}

.cells {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: var(--cell-outline-color) 2px solid;
}

button {
    transform: scale(.95) translateY(5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    filter: brightness(1.2);
    
}

button:active {
    box-shadow: 0 0 0, inset 0 2px 10px rgba(0, 0, 0, .4);
    transition: all .02s ease;
}

.cells:active {
    transform: scale(.95) translateY(5px);
    box-shadow: 0 0 0, inset 0 2px 10px rgba(0, 0, 0, .4);
    filter: brightness(1.2);
    transition: all .03s ease;
}

.cells[disabled] {
    pointer-events: none;
}

#prompt[disabled]
{
    display: none;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#player-x-wins, 
#player-ties,
#player-o-wins {
    min-height: 80px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--main-bg-color);
    padding: 0 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.score {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

#player-x-wins {
    background-color: #ECFEEC;
}

#player-ties {
    background-color: var(--scoreboard-color);
}

#player-o-wins {
    background-color: #ECECFE;
}


#prompt {
    display: grid;
    justify-items: center;
    gap: 15px;
    padding: 50px 0;
    min-height: 250px;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECECFE;
    background-color: var(--cell-bg-color);
}

#prompt > h3 {
    font-size: 30px;
    font-weight: 400;
    
}

#prompt .winner {
    font-size: 35px;
    font-weight: 600;
}

.shift-padding {
    padding-left: 65px;
}

.button-group {
    display: flex;
    gap: 20px;
    color: var(--cell-bg-color);
}

#round-button {
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}

